body{
  padding: 20px;
}

input{
  border: none;
}

input[type='number']{
  outline: none;
}

input[disabled]{
  color: black;
}

tr:hover{
  background-color: #E8E8E8;
}

tr.selected {
  background-color: #696969;
}

thead{
  background-color: #00CCFF;
}

thead:hover{
  background-color: #00CCFF;
}

input:focus {
  background-color: #696969;
}
