*{
  margin: 0;
}

body{
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

input{
  border: none;
}

input[type='number']{
  outline: none;
}

input[disabled]{
  color: black;
}

tbody tr:hover{
  background-color: #E8E8E8;
}

tbody tr.selected {
  background-color: #E0E0E0;
}

thead{
    background-color: #00CCFF;
}

/* thead:hover{
  background-color: #00CCFF;
} */

input:focus {
  background-color: #696969;
}

section.head{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.hide{
  display: none;
}


/* popup css */


form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  width: 60vw;
}

fieldset.info{
  /* border: 2px solid; */
  width: 55vw;
  display: flex;
  flex-direction: column;
  /* border: 2px solid; */
}

div.duo{
  display: flex;
  flex-direction: row;
  width: 55vw;
  justify-content: space-around;
}

fieldset.address{
  /* border: 2px solid; */
  width: 33vw;
  display: flex;
  flex-direction: column;
  border-right: 2px solid;
}

fieldset.company{
  /* border: 2px solid; */
  width: 23vw;
  display: flex;
  flex-direction: column;
  /* border: 2px solid; */
}

fieldset{
  padding: 6px;
}

fieldset input{
  align-self: flex-end;
  width: 70%;
  height: 40px;
  border-bottom: 2px solid;
  float: right;
}
fieldset input:focus{
  background-color: #E8E8E8;
  outline: none;
  color: black;
}

fieldset label{
  align-self: flex-start;
  /* border: 2px solid; */
  float: left;
  width: 20%;
  padding-top: 10px;
  align-self: center;
}

article{
  /* border: 2px solid; */
}

button#button{
  margin-top: 20px;
  width: 15vw;
  height: 7vh;
}

div#closebtn{
  /* border: 2px solid; */
  width: 50px;
  align-self: flex-end;
  font-size: 50px;
  cursor: pointer;
}

.blur{
  filter: blur(10px);
}

div#popup{
  background-color: #ffffff;
  position: absolute;
  border-radius: 4px;
  top: -700px;
  transition: .7s;
}

legend{
  background-color: #00CCFF;
}

/* for the scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb {
  background: #00CCFF;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

div#body{
  top: 100px;
  position: relative;
  height: 38vh;
  /* width: 95vw; /* admin*/ */
  /* width: 80vw; */
  border-bottom: 2px solid #00CCFF;
  overflow-y: scroll;
  overflow-x: hidden;
}
table.table{
  /* position: relative; */
  /* top: 10%; */
  /* left: 5%; */
  /* width: 90%; */
  /* background-color: black; */
  /* height: 15%; */
  /* border: 2px solid red; */
  /* overflow: auto; */
}

table.table thead{
  margin-top: -36px;
  position: fixed;
  /* width: 95vw; /* admin*/ */
  /* width: 80vw; */
  /* top: 1px; */
  display: flex;
  flex-direction: row;
  /* border: 2px solid; */
  justify-content: space-between;
}

table.table thead th {
  /* border: 2px solid; */
  /* width: 200px; */
  /* padding-left: 10px; */
}

table.table thead th#th1{
  /* background-color: red; */
}

table.table thead th#th2{
  /* background-color: green; */
  padding-left: 205px;
}

table.table thead th#th3{
  /* background-color: yellow; */
  padding-left: 230px;
  /* padding-right: 20px; */

}

table.table thead th#th4{
  /* background-color: blue; */
  padding-left: 240px;
  padding-right: 0;

}


section.compteur{
  border: 7px dashed white;
  width: 80px;
  height: 60px;
  color: white;
  background-color: #00CCFF;
}

section.compteur p{
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  transition: 1s;
}
