*{
  margin: 0;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input{
  border: none;
}

input[type='number']{
  outline: none;
}

input[disabled]{
  color: black;
}

tr:hover{
  background-color: #E8E8E8;
}

tr.selected {
  background-color: #E0E0E0;
}

thead{
  background-color: #00CCFF;
}

thead:hover{
  background-color: #00CCFF;
}

input:focus {
  background-color: #696969;
}

section.head{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.hide{
  display: none;
}


/* popup css */


form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  width: 60vw;
}

fieldset.info{
  /* border: 2px solid; */
  width: 55vw;
  display: flex;
  flex-direction: column;
  /* border: 2px solid; */
}

div.duo{
  display: flex;
  flex-direction: row;
  width: 55vw;
  justify-content: space-around;
}

fieldset.address{
  /* border: 2px solid; */
  width: 33vw;
  display: flex;
  flex-direction: column;
  border-right: 2px solid;
}

fieldset.company{
  /* border: 2px solid; */
  width: 23vw;
  display: flex;
  flex-direction: column;
  /* border: 2px solid; */
}

fieldset{
  padding: 6px;
}

fieldset input{
  align-self: flex-end;
  width: 70%;
  height: 40px;
  border-bottom: 2px solid;
  float: right;
}
fieldset input:focus{
  background-color: #E8E8E8;
  outline: none;
  color: black;
}

fieldset label{
  align-self: flex-start;
  /* border: 2px solid; */
  float: left;
  width: 20%;
  padding-top: 10px;
  align-self: center;
}

article{
  /* border: 2px solid; */
}

button#button{
  width: 15vw;
  height: 7vh;
}

div#closebtn{
  border: 2px solid;
  width: 50px;
  align-self: flex-end;
  font-size: 50px;
  cursor: pointer;
}


div#popup{
  background-color: #ecf0f1;
  position: absolute;
  top: -700px;
  height: 90vh;
  overflow: scroll;
  transition: .7s;
}
